body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px;
}

.menu-pricipal{
    width: 100%;
    background-color:#000000;
    height: 75px;
}

main{
    margin: 0 auto;
    width: 980px;   
    position: relative;
}
.logo{
    float: left;
    padding: 15px;
    width: 70%;
}

.redes-sociais ul li{
    margin-left: 5px;
    display: inline-block;
    list-style: none;
}

.redes-sociais{
    width: 20%;
    float: right;
}

.header-2{
    background-color:rgb(73, 73, 73);
    width: 980px;
    margin: 0 auto;
    padding: 7px
    
}

.menu2{
    height: 70px;
    border-bottom: 3px solid #efefef ;
    background-color: rgb(73, 73, 73);
}
.menu ul li {
    display: inline-block;
    color:rgb(0, 26, 255);
    margin-left: 17px;
    height: 50px;
}
.menu ul li:hover{
    border-bottom: 2px solid rgb(97, 97, 97);
}
.menu ul li a:hover{
    color: rgb(212, 35, 35);
    
}

.menu ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:18px;
    text-transform:uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.pesquisas{
    width: 30%;
    float: right;
    text-align: center;
}
.pesquisas input{
    background-image: url('./pesquisa.png');
    background-repeat: no-repeat;
    background-position: 160px;
    margin-top: 9px;
    height: 20px;
    padding: 7px;
    width: 190px;
    border: 1px solid #d6d6d6;
}

.coluna-100{
    width: 100%;
    float: left;
    position: relative;
}

.slider1{
    text-align: center;
    margin-top: 0px;

}

button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border: none;
}

button.slick-next{
    display: inline-block;
    font-size: 0px;
    border: none;
}

.teste1{
    width: 100%;
    background-color:#000000;
    height: 300px;

}

.float-banner {
    position: absolute;
    left: 50%;
    width: 200px; height: 200px;
    margin-top: 200px; margin-left: -200px;
}


.imgefeito {
    margin: 0;
    overflow: hidden;
    float: left;
    position: relative;
}
.imgefeito a {
    text-decoration: none;
    float: left;
}
.imgefeito a:hover {
    cursor: pointer;
} 
.imgefeito a img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
} 

.imgefeito a .mais {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 1.2em;
    color: rgb(146, 64, 64);
    background: rgb(252, 246, 246);
    padding: 5px 10px;
    filter:alpha(opacity=65);
    opacity:.65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; 
}
.imgefeito a:hover .desc{
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    background: #111;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; 
    color: rgb(238, 236, 236);
    position: absolute;
    bottom: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
    width: 615px;
    border-top: 1px solid rgb(0, 0, 0);
}
.imgefeito a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.5em;
}

.paginas1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.coluna-200{
    width: 100%;
    float: left;
    position: relative;
}

.slider-2{
    text-align: center;
    margin-top: 0px;

}


.contato{
    width: fit-content;
}
